//Font

$font-stack: 'Josefin Sans', sans-serif;

// Font weight

$font-light : 300;
$font-normal : 400;
$font-bold : 500;
$font-black : 700;

//Font mixin


@mixin font($weight) {
    font-family: $font-stack;
    font-weight: $weight;
}
